{% extends "personal/teacherlogin.html" %}

{% block content %}
	<form action="/show_ques_wise_result" class="" method="POST">{% csrf_token %}
		<div class="form-group ">
			<label for="sel1">Please Select the roll number to generate result :</label>
  			<select class="form-control"  id="rollno1" name="rollno1">
  			{% for o in roll %}
    		<option value="{{o}}">{{o}}</option>
    		{% endfor %}
  			</select>
		</div>

		<div class="form-group ">
			<div style="text-align: center;">
				<button type="submit" class="btn  btn-primary" name="startas" id="startas" style="width: 150px"> Check result </button>
			</div>
		</div>
	</form>
{% endblock %}
