<!DOCTYPE html>
<html lang="en">
    <head> 
		<title>Test</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel='stylesheet' href="{% static 'personal/css/bootstrap.min.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'page_css/style.css'%}">
	</head>
	<body>
	
	<div class="container">
		<h1>Thankyou</h1>
		<h1>{{ans}}</h1>
	</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
	</body>
</html>